@*@page "/GSM01000"*@
@inherits R_Page

<R_StackLayout Spacing="3" Class="mb-4">
    <R_StackLayout>
        <R_Grid @ref="@_gridRef"
                DataSource="@_GSM01000ViewModel.loGridList"
                Pageable="true"
                R_ConductorGridSource="_conductorGridRef"
                R_GridType="@R_eGridType.Original"
                R_ServiceGetListRecord="@Grid_R_ServiceGetListRecord"
                AllowAddNewRow="true"
                AllowEditRow="true"
                AllowDeleteRow="true">
        
            <R_GridColumns>
                <R_GridTextColumn FieldName="CGLACCOUNT_NO" HeaderText="Account No" R_EnableAdd="true" R_EnableEdit="false"></R_GridTextColumn>
                <R_GridTextColumn FieldName="CGLACCOUNT_NAME" HeaderText="Account Name" R_EnableAdd="true" R_EnableEdit="true"/>
                <R_GridTextColumn FieldName="CBSIS" HeaderText="BS/IS" R_EnableAdd="true" R_EnableEdit="true"/>
                <R_GridTextColumn FieldName="CDBCR" HeaderText="D/C" R_EnableAdd="true" R_EnableEdit="true"/>
                <R_GridCheckBoxColumn FieldName="LACTIVE" HeaderText="Active" R_EnableAdd="true" R_EnableEdit="false"/>
                <R_GridCheckBoxColumn FieldName="LUSER_RESTR" HeaderText="User Restriction" R_EnableAdd="true" R_EnableEdit="true"/>
                <R_GridCheckBoxColumn FieldName="LCENTER_RESTR" HeaderText="Center Restriction" R_EnableAdd="true" R_EnableEdit="true"/>
                <R_GridTextColumn FieldName="CCASH_FLOW_CODE" HeaderText="Cash Flow" R_EnableAdd="true" R_EnableEdit="true"></R_GridTextColumn>
                
                <R_GridTextColumn FieldName="CUPDATE_BY" HeaderText="Last Updated By" R_EnableAdd="false" R_EnableEdit="false"/>
                <R_GridTextColumn FieldName="DUPDATE_DATE" HeaderText="Last Updated Date" R_EnableAdd="false" R_EnableEdit="false"/>
            </R_GridColumns>
        </R_Grid>
    </R_StackLayout>


<R_StackLayout Row="true" Spacing="3">
        <R_ItemLayout xs="2">
            <R_Popup R_ConductorGridSource="@_conductorGridRef"
                      R_Before_Open_Popup="@R_Before_Open_Popup_CopyFrom"
                      R_After_Open_Popup="@R_After_Open_Popup_CopyFrom"
                      R_EnableOther>Copy Form</R_Popup>
        </R_ItemLayout>

        <R_ItemLayout xs="2">
            <R_Button R_Conductor="@_conductorGridRef">Template</R_Button>
        </R_ItemLayout>

        <R_ItemLayout xs="2">
            <R_Button R_Conductor="@_conductorGridRef">Upload</R_Button>
        </R_ItemLayout>

        <R_ItemLayout xs="2">
            <R_Popup R_ConductorGridSource="@_conductorGridRef"
                           R_Before_Open_Popup="@R_Before_Open_Popup_ActivateInactive"
                           R_After_Open_Popup="@R_After_Open_Popup_ActivateInactive"
                              R_EnableOther>@loLabel</R_Popup>
        </R_ItemLayout>

        <R_ItemLayout xs="1">
            <R_Button R_Conductor="@_conductorGridRef">Print</R_Button>
        </R_ItemLayout>
    </R_StackLayout>
</R_StackLayout>

<R_StackLayout>
    <R_StackLayout Spacing="3" Class="mt-10">
        <R_StackLayout Row="true">
            <R_ItemLayout xs="1" Class="col-lg-1">
                <h3>Account</h3>
            </R_ItemLayout>
            <R_ItemLayout xs="2" Class="col-lg-2">
                <R_TextBox @bind-Value="@_GSM01010ViewModel.Data.CGLACCOUNT_NO" 
                           R_ConductorGridSource="@_conductorGoARef">
                </R_TextBox>
            </R_ItemLayout>
            <R_ItemLayout xs="3" Class="col-lg-2">
                <R_TextBox @bind-Value="@_GSM01010ViewModel.Data.CGLACCOUNT_NAME"
                           R_ConductorGridSource="@_conductorGoARef">
                </R_TextBox>
            </R_ItemLayout>
        </R_StackLayout>
    </R_StackLayout>

    <R_StackLayout Class="mb-3">
        <R_Grid @ref="@_gridGoARef"
                DataSource="@_GSM01010ViewModel.loGridGoAList"
                Pageable="true"
                R_ConductorGridSource="@_conductorGoARef"
                R_GridType="@R_eGridType.Original"
                AllowAddNewRow="false"
                AllowDeleteRow="false"
                AllowEditRow="false"
                R_ServiceGetListRecord="@GridGoA_ServiceGetListRecord">
    
            <R_GridColumns>
                <R_GridTextColumn FieldName="CGOA_CODE" HeaderText="Group of Account" />
                <R_GridTextColumn FieldName="CGOA_NAME" HeaderText="Group of Account Name" />
                <R_GridTextColumn FieldName="CUPDATE_BY" HeaderText="Last Updated By" />
                <R_GridTextColumn FieldName="DUPDATE_DATE" HeaderText="Last Updated Date" />
            </R_GridColumns>
        </R_Grid>
    </R_StackLayout>

</R_StackLayout>

<R_ConductorGrid @ref="@_conductorGridRef"
                 R_ViewModel="@_GSM01000ViewModel"
                 R_IsHeader="true"
                 R_Display="@Grid_Display"
                 R_ServiceGetRecord="@Grid_R_ServiceGetGridCoA"
                 @* R_Validation="@Conductor_Validation" *@
                 R_ServiceSave="@Grid_ServiceSave"
                 R_ServiceDelete="@Grid_ServiceDelete"
                 R_ConvertToGridEntity="@R_ConvertToGridEntity"/>

<R_ConductorGrid  @ref="@_conductorGoARef"
              R_ViewModel="@_GSM01010ViewModel"
              R_ConductorParent="@_conductorGridRef"
              R_DisableCancelConfirmation="false">
</R_ConductorGrid>
